* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
  height: 40px;
  width: 150px;
}

.app__signup {
  display: flex;
  flex-direction: column;  
}

.post__noUpload {
  position: sticky;
  bottom: 0;
  background-color: white;
  text-align: center;
}